$gray : #d3d3d3;
$green : #75B975;

body {
  background: $gray;
  padding: 40px 80px;
  background-image: url('../../scss/image01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  .container {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
    .showForecast {
      list-style-type: none;
    }
  }
}

#weatherLocation {
  height: 600px;
  width: 100%;
  background: $gray;
}
